<form [formGroup]="form" (ngSubmit)="onSubmit()" #addExerciseForm="ngForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name"/>
    <mat-error *ngIf="form.get('name').invalid">
      {{getErrorMessage('name', 'Name', form)}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Exercise type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type.value">{{type.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('type').invalid">
      {{getErrorMessage('type', 'Type', form)}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit"
          [class.spinner]="isPending$ | async" [disabled]="isPending$ | async">Add Exercise
  </button>
  <ng-container *ngIf="(errorMsg$ | async) as errorMsg">
    <p class="global-error">
      {{errorMsg}}
    </p>
  </ng-container>
</form>
