<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Training Tracker</h1>
    <div id="nav-items-wrapper">
      <ng-container *ngIf="displayIfSignedOut()">
        <a mat-button [routerLink]="'/landing'">Home</a>
        <a mat-button [routerLink]="'/sign-in'">Sign in</a>
        <a mat-button [routerLink]="'/sign-up'">Sign up</a>
      </ng-container>
      <ng-container *ngIf="displayIfSignedIn()">
        <a mat-button [routerLink]="'/user'">Profile</a>
        <a mat-button [routerLink]="'/gym'">Gyms</a>
        <a mat-button [routerLink]="'/training'">Trainings</a>
        <a mat-button [routerLink]="'/training/browse'">Browse Trainings</a>
        <a mat-button (click)="signOut()"> Sign out </a>
      </ng-container>
    </div>
    <tt-server-details *ngIf="displayServerDetails"></tt-server-details>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <ng-container *ngIf="displayIfSignedOut()">
        <a mat-list-item [routerLink]="'/landing'">Home</a>
        <a mat-list-item [routerLink]="'/sign-in'">Sign in</a>
        <a mat-list-item [routerLink]="'/sign-up'">Sign up</a>
      </ng-container>
      <ng-container *ngIf="displayIfSignedIn()">
        <a mat-list-item [routerLink]="'/user'">Profile</a>
        <a mat-button [routerLink]="'/gym'">Gyms</a>
        <a mat-button [routerLink]="'/training'">Training</a>
        <a mat-button [routerLink]="'/training/browse'">Browse Training</a>
        <a mat-list-item (click)="signOut()">Sign out</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



